<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">


    <!-- Creates an object of type ClassicMusic -->
    <bean id="musicBean"
          class="com.xenon.music.ClassicMusic">
    </bean>

    <!--
    Creates an object of type MusicPlayer
    and calls method setMusic sending
    the object created above
     -->
    <bean id="musicPlayer"
          class="com.xenon.music.MusicPlayer">
        <property name="music" ref="musicBean"/>
    </bean>

</beans>